*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 50px;
  background-color: #ff9a4b;
}

main{
  width: 960px;
  display: flex;
  margin: 50px auto;

}

.main-contents{
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  background-color: #eeeeee;
}

.step{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: #fff;
}

.main-img1{
  width: 280px;
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.main-img2{
  width: 280px;
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.main-img3{
  width: 280px;
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}


.main-title{
  margin: 15px 0 5px
}

footer{
  width: 100%;
  height: 50px;
  background-color: #aaaaaa;
}